@font-face {
    font-family: 'Kaligrafica, Kaligraf';
    src: local('Kaligrafica, Kaligraf Regular'), local('Kaligrafica,-Kaligraf-Regular'),
        url('Kaligrafica.woff2') format('woff2'),
        url('Kaligrafica.woff') format('woff'),
        url('Kaligrafica.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }